.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.container-img {
  flex: 1;
  width: 70vw;
  height: 100vh;
  padding: 20px;
  flex-direction: column;
}

.img-maior {
  flex: 1;
  width: 80vw;
  height: 90vh;
}

.container-form {
  flex: 1;
  width: 30vw;
  height: 100vh;
  flex-direction: column;
}

.container-register {
  flex: 1;
  width: 80%;
  height: 70%;
  border-radius: 8px;
  box-shadow: 6px 0 6px rgb(73, 73, 73);
  padding: 20px;
  align-content: center;
  background-color: #FF4F5A;
  margin-top: 20%;
}

.container-register h1, h2 {
  margin: 5px;
  color: #FFF;
}

.input-form {
  flex: 1;
  padding: 10px 15px;
  border-radius: 8px;
  outline: none;
  width: 100%;
  height: 60px;
  border: none;
  margin-top: 25px;
}

.button-form {
  flex: 1;
  padding: 10px 15px;
  border-radius: 8px;
  outline: none;
  width: 100%;
  height: 60px;
  border: none;
  margin-top: 25px;
  background-color: #385A64;
  color: #FFF;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button-form:hover {
  opacity: 0.8;
}

.row-footer {
  flex: 1;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

small {
  font-size: 16px;
  font-family: 400 Ubuntu, sans-serif;
  color: #FFF;
}

.link {
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  transition: opacity 0.2s;
}

.link:hover {
  opacity: 0.8;
}